<div class="teaser">
  <h1>protonet <span>it's yours.</span></h1>
  <p>
    <%= t.teaser.first_subline %>
  </p>
  <p>
    <%= t.teaser.second_subline %>
  </p>
  <p>
    
    <a href="#contact" class="button buy"><img src="/img/149.png" width="116" height="42" alt="149"></a>
    <a href="http://demo.protonet.info" class="button" target="_blank"><img src="/img/demo.png" width="116" height="42" alt="149"></a>
    <br>
    <small>
      <%= t.teaser.taxes %>
    </small>
  </p>
</div>
<section class="testimonials">
  <ul>
    <li class="active xing">
      <a href="#xing" title="XING AG">XING AG</a>
      <p>
        <%= t.testimonials.xing %>
        <span>– XING AG</span>
      </p>
    </li>
    <li class="ct">
      <a href="#ct" title="c't">c't</a>
      <p>
        <%= t.testimonials.ct %>
        <span>– c't 8/2012</span>
      </p>
    </li>
    <li class="betahaus">
      <a href="#betahaus" title="Lena Schiller-Clausen, CEO, betahaus Hamburg">Lena Schiller-Clausen, CEO, betahaus Hamburg</a>
      <p>
        <%= t.testimonials.betahaus %>
        <span>– Lena Schiller-Clausen, CEO, betahaus Hamburg</span>
      </p>
    </li>
    <li class="fotomaki">
      <a href="#fotomaki" title="Andrea und Julia, Fotomaki">Andrea und Julia, Fotomaki</a>
      <p>
        <%= t.testimonials.fotomaki %>
        <span>– Andrea und Julia, Fotomaki</span>
      </p>
    </li>
    <li class="oh24">
      <a href="#oh24" title="Burkart Orlowski, CEO, onlinehelp24">Burkart Orlowski, CEO, onlinehelp24</a>
      <p>
        <%= t.testimonials.oh24 %>
        <span>– Burkart Orlowski, CEO, onlinehelp24</span>
      </p>
    </li>
  </ul>
</section>
<nav>
  <ul>
    <li>
      <a href="#files" alt"privater Fileserver">
        <img src="img/files_small.png" width="68" height="68" alt="Files Small">
        <h3><%= t.nav.files.headline %></h3>
        <p><%= t.nav.files.paragraph %></p>
      </a>
    </li>
    <li>
      <a href="#collaboration" alt"Kollaboration">
        <img src="img/save_small.png" width="71" height="71" alt="Save">
        <h3><%= t.nav.collaboration.headline %></h3>
        <p><%= t.nav.collaboration.paragraph %></p>
      </a>
    </li>
    <li>
      <a href="#global" alt"globaler Zugriff">
        <img src="img/global_small.png" width="71" height="72" alt="Global Small">
        <h3><%= t.nav.global.headline %></h3>
        <p><%= t.nav.global.paragraph %></p>
      </a>
    </li>
    <li>
      <a href="#usability" alt"Intuitive Bedienbarkeit">
        <img src="img/wand_small.png" width="60" height="60" alt="Wand Small">
        <h3><%= t.nav.usability.headline %></h3>
        <p><%= t.nav.usability.paragraph %></p>
      </a>
    </li>
    <li>
      <a href="#hardware-software" alt"Hard und Softare">
        <img src="img/hard_soft_small.png" width="67" height="67" alt="Hard Soft Small">
        <h3><%= t.nav.hardsoft.headline %></h3>
        <p><%= t.nav.hardsoft.paragraph %></p>
      </a>
    </li>
  </ul>
</nav>

<section id="files">
  <img src="img/files.png" width="128" height="128" alt="Files">
  <h2><%= t.content.files.headline %></h2>
  <p>
    <%= t.content.files.paragraph %>
  </p>
</section>
<section id="collaboration">
  <img src="img/save.png" width="100" height="100" alt="Save">
  <h2><%= t.content.collaboration.headline %></h2>
  <p>
    <%= t.content.collaboration.paragraph %>
  </p>
</section>
<section id="global">
  <img src="img/global.png" width="128" height="128" alt="Global">
  <h2><%= t.content.global.headline %></h2>
  <p>
    <%= t.content.global.paragraph %>
  </p>
</section>
<section id="usability">
  <img src="img/wand.png" width="128" height="128" alt="Wand">
  <h2><%= t.content.usability.headline %></h2>
  <p>
    <%= t.content.usability.paragraph %>
  </p>
</section>
<section id="hardware-software">
  <img src="img/hard_soft.png" width="128" height="128" alt="Hard Soft" >
  <h2><%= t.content.hardsoft.headline %></h2>
  <p>
    <%= t.content.hardsoft.paragraph %>
  </p> 
  </p>
</section>

<section id="contact">
  <h2><%= t.content.contact.headline %></h2>
  <div class="facts">
    <%= t.content.contact.paragraph %>
  </div>
  <form action="/contact" method="post">
    <h3><%= t.content.contact.form.headline %></h3>
    <div class="input">
      <label for="name"><%= t.content.contact.form.name.label %></label>
      <input type="text" id="name" name="name" placeholder="<%= t.content.contact.form.name.placeholder %>" required value="<%= @name %>">
    </div>
    <div class="input">
      <label for="email"><%= t.content.contact.form.email.label %></label>
      <input type="email" id="email" name="email" placeholder="<%= t.content.contact.form.email.placeholder %>" value="<%= @email %>" required>
    </div>
    <div class="input">
      <label for="message"><%= t.content.contact.form.message.label %></label>
      <textarea id="message" name="message" placeholder="<%= t.content.contact.form.message.placeholder %>"><%= @message %></textarea>
    </div>
    <div class="input">
      <label for="newsletter">
        <input type="hidden" name="newsletter" value="0">
        <input id="newsletter" name="newsletter" type="checkbox" value="1">
        <%= t.content.contact.form.newsletter %>
      </label>
    </div>
    <div class="button">
      <input type="submit" value="<%= t.content.contact.form.button %>">
    </div>
  </form>
  
</section>
