<hgroup><h1>Meet the <span>team</span></h1></hgroup>
<section id="team">
  <div class="member">
    <h3>Ali Jelveh<span style="width:260px">Co-Founder & Chief Revolutionary Officer</span></h3>
    <img src="img/team/ali.jpg?v=1" width="250" height="250" alt="Ali Jelveh">
    <p>
      <%= t.team.ali %>
    </p>
  </div>
  <div class="member">
    <h3>Christopher Blum<span> Co-Founder & Intergalactic President</span></h3>
    <img src="img/team/tiff.jpg" width="250" height="250" alt="Christopher Blum">
    <p>
      <%= t.team.tiff %>
    </p>
  </div>
  <div class="member">
    <h3>Henning Thies<span>Senior Interactive Developer</span></h3>
    <img src="img/team/henning.jpg" width="250" height="250" alt="Henning Thies">
    <p>
      <%= t.team.henning %>
    </p>
  </div>
  <div class="member new-line">
    <h3>Wolfgang Peters<span>Serious Business Officer</span></h3>
    <img src="img/team/wolle.jpg" width="250" height="250" alt="Wolfgang Peters">
    <p>
      <%= t.team.wolfgang %>
    </p>
  </div>
  <div class="member">
    <h3>Johannes von Bargen<span>Dynamic Research Scientist</span></h3>
    <img src="img/team/johannes.jpg" width="250" height="250" alt="Johannes von Bargen">
    <p>
      <%= t.team.jo %>
    </p>
  </div>
  <div class="member">
    <h3>David Burkhardt<span>Senior Craft Meister</span></h3>
    <img src="img/team/david.jpg" width="250" height="250" alt="David Burkhardt">
    <p>
      <%= t.team.david %>
    </p>
  </div>
</section>

<section id="office">
  <h2>Unser Office</h2>
  <img src="img/office.jpg" width="280" height="158" alt="Office">
  <p>
    <%= t.team.office %>
    <address>
      betahaus hamburg <br>
      Lerchenstraße 28a / Eingang Schilleroper<br>
      22767 Hamburg<br>
      team@protonet.info
    </address>
  </p>
</section>